<% provide(:title, "ホーム") %>
<span class="border">
  <h1>今日の練習</h1>
  <h2>残り：
  <% if logged_in? %>
    <%= link_to "#{@quizcards_today.count if @quizcards_today} 題", todaycard_path %>
  <% else %>
    <%= "#{@quizcards_today.count if @quizcards_today} 題" %>
  <% end %>
  </h2>
  <p class="center">
    <%= render 'box' if @quizcards_today && @quizcards_today.any?%>
  </p>

</span>
<% if !@answer_time.nil? %>
<span class="border">
<h1>1日あたり</h1>
  <h2><%= @daily_time %> 分で <%= @daily_practices %> 語練習しています</h2>
</span>
<span class="border">
  <h1>答えの速さ</h1>
  <h2><%= @answer_time %> 秒</h2>
</span>
<span class="border">
  <h1>新しく追加する目安</h1>
  <h2><%= @adding_guide %> 日に 1 度</h2>
</span>
<% end %>
<p class="center">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" if !logged_in?%>
</p>
