<% provide(:title, "ホーム") %>
<span class="border">
  <h1>今日の練習</h1>
  <h2>残り：
  <% if logged_in? %>
    <%= link_to "#{@quizcards_today.count if @quizcards_today} 題", list_path %>
  <% else %>
    <%= "#{@quizcards_today.count if @quizcards_today} 題" %>
  <% end %>
  </h2>
  <p class="center">
    <%= render 'box' if @quizcards_today && @quizcards_today.any?%>
  </p>

</span>
<span class="border">
<h1>1日の練習時間</h1>
  <h2>
  <%= link_to "実績●●分／　目標●●分", '#' %>
  </h2>
</span>
<span class="border">
  <h1>答えの速さ</h1>
  <h2>●●秒</h2>
</span>
<span class="border">
  <h1>新しく追加する目安</h1>
  <h2>●日に1度</h2>
</span>
<p class="center">
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" if !logged_in?%>
</p>
