<%= provide(:title, @user.name) %>
<h3 class="profile">
  <%= gravatar_for @user %>
</h3>
<h3>ユーザー名</h3>
<h4><%= @user.name %></h4>
<h3>Eメール</h3>
<h4><%= @user.email %></h4>
<h3>
  <%= link_to "ユーザー情報変更", edit_user_path(@user) =%>
</h3>
