<li id="quizcard-<%= quizcard.id %>">
  <span class="wordlist description"><%= quizcard.description %></span>
  <span class="wordlist appearing_at">
    <%= quizcard.appearing_at.to_date %>
  </span>
  <span class="wordlist name"><%= quizcard.name %></span>
  <span class="wordlist"><%= quizcard.connotation %></span>
  <span class="wordlist"><%= quizcard.pronunciation %></span>
  <span class="wordlist"><%= quizcard.origin %></span>
  <% if current_user?(quizcard.user) %>
    <%= link_to "削除", quizcard, method: :delete,
                                       data: { confirm: "削除しますか?" } %>
  <% end %>
</li>
