<div class="row">
  <% if @user.quizcards.any? %>
    <span class="border">
      <h1>＜本日の課題：残り（<%= @quizcards_today.count %>）＞</h3>
      <%= will_paginate @quizcards_today %>
      <ol class="quizcards">
        <%= render @quizcards_today %>
      </ol>
      <%= will_paginate @quizcards_today %>
    </span>
  <% end %>
  <% if cookies[:quizcards_right_ids] %>
    <span class="border">
      <h1>＜本日の正解（<%= @quizcards_right.count %>）＞</h3>
      <%= will_paginate @quizcards_right %>
      <ol class="quizcards">
        <%= render @quizcards_right %>
      </ol>
      <%= will_paginate @quizcards_right %>
    </span>
  <% end %>
  <%if cookies[:quizcards_wrong_ids] %>
    <span class="border">
      <h1>＜本日の不正解（<%= @quizcards_wrong.count %>）＞</h3>
      <%= will_paginate @quizcards_wrong %>
      <ol class="quizcards">
        <%= render @quizcards_wrong %>
      </ol>
      <%= will_paginate @quizcards_wrong %>
    </span>
  <% end %>
</div>
