#{provide :title, '問題'}
#{provide :button_text, '解答'}
%h1 問題
%div.row
  %div.col-md-6.col-md-offset-3
    %h3 #{@quizcard.description}
    = form_for @quizcard, url: temp_judge_path, method: :post do |f|
      = f.hidden_field :card_id, :value => @quizcard.id
      = f.hidden_field :begin_answer, :value => @begin_answer
      = f.label :name, "答え"
      = f.text_field :name, value: "", autofocus: true, placeholder: "答え", class: 'practice-input-text'
      = f.submit "#{yield(:button_text)}", id: 'submit_btn'
